<div class="d-flex justify-content-center">
    <fieldset class="w-100 border border-white rounded shadow">
        <form [formGroup]="ChangePasswordForm" class="p-3" (ngSubmit)="onSubmit()">
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputPassword"><img src="/assets/images/password.png"
                        class="icon" /></label>
                <input formControlName="InputPassword" type="password"
                    class="form-control form-control-sm shadow rounded"
                    [ngClass]="ChangePasswordForm.get('InputPassword')?.touched ? (ChangePasswordForm.get('InputPassword')?.valid ? 'is-valid' : 'is-invalid') : ''"
                    [(ngModel)]='password' id="InputPassword" placeholder="Old Password">
            </div>
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputNewPassword"><img
                        src="/assets/images/password_repeat.png" class="icon" /></label>
                <input formControlName="InputNewPassword" type="password"
                    class="form-control form-control-sm shadow rounded"
                    [ngClass]="ChangePasswordForm.get('InputNewPassword')?.touched ? (ChangePasswordForm.get('InputNewPassword')?.valid ? 'is-valid' : 'is-invalid') : ''"
                    [(ngModel)]='newPassword' id="InputNewPassword" placeholder="New Password">
            </div>
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputNewPasswordRepeat"><img
                        src="/assets/images/password_repeat.png" class="icon" /></label>
                <input formControlName="InputNewPasswordRepeat" type="password"
                    class="form-control form-control-sm shadow rounded"
                    [ngClass]="ChangePasswordForm.get('InputNewPasswordRepeat')?.touched ? (ChangePasswordForm.get('InputNewPasswordRepeat')?.valid ? 'is-valid' : 'is-invalid') : ''"
                    [(ngModel)]='newPasswordRepeat' id="InputNewPasswordRepeat" placeholder="Repeat New Password">
            </div>
            <button [disabled]="ChangePasswordForm.invalid" type="submit" class="btn btn-light text-dark w-100 mt-3 shadow">Change Password</button>
        </form>
    </fieldset>
</div>