h2 {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #eee;
}

input,
button {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  transition: all .5s linear;
}

button {
  margin-top: 20px;
  background-color: lightblue;
}

button:hover {
  cursor: pointer;
  background-color: #eee;
}