<div class="container">
    <header class="h1 p-3">Welcome to
        <span class="text-uppercase text-warning">
            <li>C</li>
            <li>A</li>
            <li>S</li>
            <li>I</li>
            <li>N</li>
            <li>O</li>
            <li>&nbsp;</li>
            <li>S</li>
            <li>T</li>
            <li>A</li>
            <li>R</li>
        </span>
    </header>
    <main class="row mt-5">
        <section class="text-start pt-3 mb-5 border border-warning rounded shadow-lg">
            <img src="./../../assets/images/roulette.jpg" alt="Roulette Picture"
                class="d-block img-thumbnail img-fluid float-start col-12 col-md-5 me-3 mb-3">
            <div>
                <span class="text-danger">Roulette</span> - Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                libero nam maxime alias nobis molestias minima accusantium, dolore enim aliquid commodi cum pariatur cumque
                doloribus ipsum soluta explicabo dolores eaque perspiciatis!
            </div>
        </section>
        <section class="text-start pt-3 mb-5 border border-warning rounded shadow-lg">
            <img src="./../../assets/images/blackjack.jpg" alt="BlackJack Picture"
                class="d-block img-thumbnail img-fluid float-end col-12 col-md-5 ms-3 mb-3">
            <div>
                <span class="text-danger">BlackJack</span> - Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                eum doloremque earum rem tempora eligendi alias nam ad blanditiis! Laboriosam, deleniti repellat error illum
                cumque accusamus aliquid excepturi obcaecati quo cum deserunt placeat veniam sit amet voluptates veritatis
                nihil possimus nisi consequuntur dolores magnam. Praesentium magni fuga nisi asperiores alias?
            </div>
        </section>
        <section class="text-start pt-3 mb-5 border border-warning rounded shadow-lg">
            <img src="./../../assets/images/coinflip.jpg" alt="Coin Flip Picture"
                class="d-block img-thumbnail img-fluid float-start col-12 col-md-5 me-3 mb-3">
            <div>
                <span class="text-danger">Coin Flip</span> - Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                non aut doloribus, pariatur autem debitis fugit dolore sapiente distinctio culpa sunt voluptatum veniam amet
                provident? Recusandae aspernatur laborum quas? Id corrupti iste dicta atque quibusdam enim adipisci et
                voluptatibus? Unde ab delectus maiores! Explicabo, quam voluptatibus perferendis laboriosam ducimus quae?
                Suscipit vel placeat voluptatem id vero quod labore. Quidem, rem?
            </div>
        </section>
    </main>
<div>