<div class="pizza-box">
    <img class="pizza-box-img imgaes" [src]="srcImg">
    <div class="pizza-box-info">
        <p>Rodzaj: <b>{{type}}</b></p>
        <p>Cena: <b>{{price}}zł</b></p>
        <p>Dostępność:
            <b *ngIf="available; then Yesavaliable; else Noavailable"></b>
            <ng-template #Yesavaliable>
                <b>Dostępne</b>
            </ng-template>
            <ng-template #Noavailable>
                <b>Brak</b>
            </ng-template>
        </p>
        <p>Dodatki: <b *ngFor="let topping of toppings, let i = index">{{topping}}<ng-container
                    *ngIf="!(toppings.length - 1 == i)">, </ng-container></b></p>
    </div>
</div>