<div class="d-flex justify-content-center">
    <fieldset class="w-50 border border-warning rounded shadow-lg">
        <form [formGroup]="signInForm" class="p-3" (ngSubmit)="onSubmit()">
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputLogin"><img src="/assets/images/user.png"
                        class="icon" /></label>
                <input formControlName="InputLogin" type="text"
                    [ngClass]="signInForm.get('InputLogin')?.touched ? (signInForm.get('InputLogin')?.valid ? '' : 'is-invalid') : ''"
                    [(ngModel)]='user.login' class="form-control form-control-sm shadow" id="InputLogin"
                    placeholder="Username">
            </div>
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputEmail"><img src="/assets/images/email.png"
                        class="icon" /></label>
                <input formControlName="InputEmail" type="email"
                    [ngClass]="signInForm.get('InputEmail')?.touched ? (signInForm.get('InputEmail')?.valid ? '' : 'is-invalid') : ''"
                    [(ngModel)]='user.email' class="form-control form-control-sm shadow" id="InputEmail"
                    placeholder="Email">
            </div>
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputPassword"><img src="/assets/images/password.png"
                        class="icon" /></label>
                <input formControlName="InputPassword" type="password"
                    [ngClass]="signInForm.get('InputPassword')?.touched ? (signInForm.get('InputPassword')?.valid ? '' : 'is-invalid') : ''"
                    [(ngModel)]='user.password' class="form-control form-control-sm shadow" id="InputPassword"
                    placeholder="Password">
            </div>
            <div class="input-group mt-2">
                <label class="input-group-addon me-2" for="InputPassword2"><img src="/assets/images/password_repeat.png"
                        class="icon" /></label>
                <input formControlName="InputPassword2" type="password"
                    [ngClass]="signInForm.get('InputPassword2')?.touched ? (signInForm.get('InputPassword2')?.valid && signInForm.valid ? '' : 'is-invalid') : ''"
                    [(ngModel)]='user.c_password' class="form-control form-control-sm shadow" id="InputPassword2"
                    placeholder="Repeat Password">
            </div>
            <button [disabled]="signInForm.invalid" type="submit" class="btn btn-outline-warning w-100 mt-3 shadow">Sign
                In</button>
        </form>
    </fieldset>
</div>