<div class="container-fluid text-start">
    <div class="table-responsive">
        <table class="table table-striped table-dark table-hover mt-2 border border-light shadow">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="border-end border-light">Id</th>
                    <th scope="col" class="border-end border-light">Email</th>
                    <th scope="col" class="border-end border-light">Active</th>
                    <th scope="col" class="border-end border-light">Banned</th>
                    <th scope="col" class="border-end border-light">Admin</th>
                    <th scope="col" class="border-end border-light">Money</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of this.adminService.listOfUsers, let i = index">
                    <th scope="row" class="text-center border-end border-light">{{user.id}}</th>
                    <td scope="row" class="border-end border-light">{{user.email}}</td>
                    <td scope="row" class="text-success text-center border-end border-light">{{user.active}}</td>
                    <td scope="row" class="text-danger text-center border-end border-light">{{user.banned}}</td>
                    <td scope="row" class="text-warning text-center border-end border-light">{{user.admin}}</td>
                    <td scope="row" class="text-center border-end border-light">
                        <input type="number" value="{{user.money}}" (keyup.enter)="UpdateMoney(user.id, $event)">
                    </td>
                    <td scope="row" class="text-center">
                        <a class="link-success fw-bold" (click)="ActiveUser(user.id)">Active</a> |
                        <a class="link-danger fw-bold" (click)="BanUser(user.id)">Ban</a> |
                        <a class="link-warning fw-bold" (click)="AdminUser(user.id)">Admin</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>