<div [hidden]="statusCode == null" class="info-box col-4">
    <app-info-alert message="{{message}}" messageTitle="{{messageTitle}}"
        [styleToInsert]="statusCode ? 'text-success' : 'text-danger'"
        [styleToInsert2]="statusCode ? 'border-success' : 'border-danger'"
        (statusCode)="reciveStatusCode($event)"></app-info-alert>
</div>
<div class="container" *ngIf="isLoged; else notLogged">
    <div class="plate m-auto mt-5">
        <ul class="inner">
            <li class="number"><label><input type="radio" name="pit" value="32" /><span class="pit">32</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="15" /><span class="pit">15</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="19" /><span class="pit">19</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="4" /><span class="pit">4</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="21" /><span class="pit">21</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="2" /><span class="pit">2</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="25" /><span class="pit">25</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="17" /><span class="pit">17</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="34" /><span class="pit">34</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="6" /><span class="pit">6</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="27" /><span class="pit">27</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="13" /><span class="pit">13</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="36" /><span class="pit">36</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="11" /><span class="pit">11</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="30" /><span class="pit">30</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="8" /><span class="pit">8</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="23" /><span class="pit">23</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="10" /><span class="pit">10</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="5" /><span class="pit">5</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="24" /><span class="pit">24</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="16" /><span class="pit">16</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="33" /><span class="pit">33</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="1" /><span class="pit">1</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="20" /><span class="pit">20</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="14" /><span class="pit">14</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="31" /><span class="pit">31</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="9" /><span class="pit">9</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="22" /><span class="pit">22</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="18" /><span class="pit">18</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="29" /><span class="pit">29</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="7" /><span class="pit">7</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="28" /><span class="pit">28</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="12" /><span class="pit">12</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="35" /><span class="pit">35</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="3" /><span class="pit">3</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="26" /><span class="pit">26</span></label>
            </li>
            <li class="number"><label><input type="radio" name="pit" value="0" /><span class="pit">0</span></label>
            </li>
            <div class="ball" [@ball]="{value: state, params: {angle: angle}}"></div>
        </ul>
    </div>
    <div class="container mb-5">
        <div class="row mt-5">
            <div class="col-4 m-auto mt-3">
                <div class="p-3 bg-dark bg-gradient border border-warning rounded-3">
                    <form [formGroup]="FirstForm" class="p-3 pt-0" (ngSubmit)="onSubmitFirst()">
                        <div class="btn-group w-100" role="group">
                            <button type="button" class="btn btn-danger shadow-none"
                                (click)="ChangeColor('red')">Red</button>
                            <button type="button" class="btn btn-success shadow-none"
                                (click)="ChangeColor('green')">Green</button>
                            <button type="button" class="btn btn-dark shadow-none"
                                (click)="ChangeColor('black')">Black</button>
                        </div>
                        <div class="input-group mt-3">
                            <label class="input-group-addon me-2" for="InputMoney"><img
                                    src="../../../assets/images/dolar.png" class="icon" /></label>
                            <input formControlName="InputMoney" type="number" step="1"
                                class="form-control form-control-sm text-light bg-dark bg-opacity-50 border-2 border-warning rounded shadow-none"
                                [ngClass]="FirstForm.get('InputMoney')?.touched ? (FirstForm.get('InputMoney')?.valid ? 'is-valid' : 'is-invalid') : ''"
                                [(ngModel)]='moneyBettedFirst' id="InputMoney" placeholder="Bet money">
                        </div>
                        <button [disabled]="FirstForm.invalid" type="submit"
                            class="btn btn-danger w-100 mt-3 border border-warning shadow-lg"
                            #buttonFirst [disabled]="this.blockOfGame">Start</button>
                    </form>
                </div>
            </div>
            <div class="col-4 m-auto mt-3 h-25">
                <div class="p-3 bg-dark bg-gradient border border-warning rounded-3">
                    <form [formGroup]="SecondForm" class="p-3 pt-0" (ngSubmit)="onSubmitSecond()">
                        <div class="input-group mt-1">
                            <input formControlName="InputNumber" type="number" step="1"
                                class="form-control form-control-sm text-light bg-dark bg-opacity-50 border-2 border-warning rounded shadow-none"
                                [ngClass]="SecondForm.get('InputNumber')?.touched ? (SecondForm.get('InputNumber')?.valid ? 'is-valid' : 'is-invalid') : ''"
                                [(ngModel)]='numberBetted' id="InputNumber" placeholder="Choose number">
                        </div>
                        <div class="input-group mt-3">
                            <label class="input-group-addon me-2" for="InputMoney"><img
                                    src="../../../assets/images/dolar.png" class="icon" /></label>
                            <input formControlName="InputMoney" type="number" step="1"
                                class="form-control form-control-sm text-light bg-dark bg-opacity-50 border-2 border-warning rounded shadow-none"
                                [ngClass]="SecondForm.get('InputMoney')?.touched ? (SecondForm.get('InputMoney')?.valid ? 'is-valid' : 'is-invalid') : ''"
                                [(ngModel)]='moneyBettedSecond' id="InputMoney" placeholder="Bet money">
                        </div>
                        <button [disabled]="SecondForm.invalid" type="submit"
                            class="btn btn-outline-warning w-100 mt-3 border border-warning shadow-lg"
                            #buttonSecond [disabled]="this.blockOfGame">Start</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notLogged>
    <app-only-for-loged></app-only-for-loged>
</ng-template>