fieldset {
    background-color: rgba(0, 0, 0, .3);
}

input {
    color: white;
    border-color: rgb(255, 193, 7);
    background-color: rgba(255, 193, 7, .1);
    transition: all 1s;
}

input:focus {
    color: white;
    border-color: white;
    background-color: rgba(255, 193, 7, .2);
    outline: none;
    box-shadow: none;
}

button {
    color: white;
}